.form_main {
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  position: sticky;
  top: 50px;
}
.form_text {
  font-size: 20px;
  font-weight: 600;
  color: #444;
  text-align: center;
}
